[submodule "src/uros_ws/src/micro_ros_setup"]
	path = src/uros_ws/src/micro_ros_setup
	url = https://github.com/micro-ROS/micro_ros_setup.git
	branch = humble
[submodule "src/xarm_ros2"]
	path = src/xarm_ros2
	url = https://github.com/xArm-Developer/xarm_ros2.git
